@model IEnumerable<ArchivoSys.Domain.DocumentType>

@{
    ViewBag.Title = "Tipos de Documentos";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear Tipo", "Create", new { }, new { @class="btn btn-primary"})
</p>
<table class="table table-responsive" id="documentTypesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.DocumentTypeId }, new { @class="btn btn-warning"}) 
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.DocumentTypeId }, new { @class="btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
